.contact_container {
  & .success_msg {
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & p {
      font-size: 1.5rem;
    }
  }
}