
.first_carousel,
.second_carousel {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & .card {
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0 0 10px 10px;
    border: none;
    margin: 0.5rem 0;
    & .card_img {
      width: 100%;
      height: 150px;
    }
  }
}

@media (min-width: 767px) {
  .first_carousel,
  .second_carousel {
    flex-wrap: nowrap;
    flex-direction: row;
    & .card {
      width: 350px;
      margin: 0 0.5rem;
    }
  }
}

@media (min-width: 1025px) {
  .first_carousel,
  .second_carousel {
    & .card {
      width: 380px;
      margin: 0 1rem;
      & .card_img {
        height: 180px;
      }
    }
  }
}
