.roomcarousel_container {
  font-family:'Times New Roman', Times, serif;
  & img {
    height: 300px;
  }
}

@media (min-width: 767px){
  .roomcarousel_container {
    & img {
      height: 400px;
    }
  }
}
@media (min-width: 1025px){
  .roomcarousel_container {
    & img {
      height: 500px;
    }
  }
}