.search_container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px 5px;
  border: 2px solid rgba(223, 222, 218, 0.514);
  border-radius: 8px;
  margin: 1rem 0.3rem;
  box-shadow: rgba(50, 50, 93, 0.157) 0px 10px 20px -4px,
    rgba(0, 0, 0, 0.185) 0px 8px 13px -8px;
  & .search_item {
    & i,
    & span {
      font-size: 13px;
      color: #8d8c8c;
    }
    & i {
      padding-right: 5px;
    }
    & .date,
    & .numberof_people{
      cursor: pointer;
    }
    & .search_date {
      position: absolute;
      top: 60px;
      left: 20px;
      z-index: 200;
    }
    & .options {
      position: absolute;
      top: 50px;
      background-color: #fff;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      z-index: 200;
      & .optionItem {
        width: 200px;
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .optionCounter {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 12px;
          & .optionCounterButton {
            border: 0.5px solid #ccc;
            cursor: pointer;
          }
        }
      }
    }
  }
  & .search_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 80%;
  }
}

@media (min-width: 767px) {
  .search_container {
    margin: 1rem 3rem;
    & .search_item {
      & i,
      & span {
        font-size: 16px;
      }
      & i {
        font-size: 20px;
        padding-right: 10px;
      }
    }
    & .search_btn {
      width: 100px;
      height: 50px;
      font-size: 16px;
    }
  }
}

@media (min-width: 1025px) {
  .search_container {
    margin: 1rem 5rem;
    & .search_item {
      & i,
      & span {
        font-size: 18px;
      }
      & i {
        font-size: 22px;
        padding-right: 12px;
      }
    }
  }
}
