
h2{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
}

.service_container {
  & .service_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    & li {
      width: 350px;
      margin: 0.5rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 8px;
      transition: transform 0.8s;
      &:hover {
        transform: scale(1.1, 1.1);
      }
      & img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      }
      & .service_explain {
        padding: 0rem 3rem;
      }
    }
  }
}

@media (min-width: 767px) {
  .service_container {
    & .service_content {
      & li {
        width: 30%;
      }
    }
  }
}

@media (min-width: 1025px) {
  .service_container {
    & .service_content {
      & li {
        max-width: 400px;
        & .service_explain {
          padding: 0rem 4rem 1rem 4rem;
        }
      }
    }
  }
}
